%h3 Home
- @users.each do |user|
  %p
  User: #{link_to user.name, user}

%div#all_images
  - @organizations = Organization.all
  - @organizations.each do |organization|
    - organization.org_no
    - @accounts = organization.accounts
    - @accounts.each do |account|
      - account.name
      - @images = account.images
      - @images.each do |image|
        %div#images-container
          = image_tag image.picture.url(:large)
          %li.image
            = link_to "Image Details"
            %div#rating_modal
              %h1 This is a test
              %p
                This is another test
                I wonder why this is acting up
                argh
