%h3 Home
- @users.each do |user|
  %p
  User: #{link_to user.name, user}

%div#all_images
  - @organizations = Organization.all
  - @organizations.each do |organization|
    - organization.org_no
    - @accounts = organization.accounts
    - @accounts.each do |account|
      - account.name
      - @images = account.images
      - @images.each do |image|
        %div#images-container.image
          = image_tag image.picture.url(:large)
          = link_to "Image Details", account_image_path(account.id, image.id)

          %div id="myModal" class="reveal-modal">
            %h1 Modal Title
            %p
              Any content could go in here.
            %a class="close-reveal-modal">&#215;</a>
