%h1 Listing Shops

%div#org-details
  - @organizations.each do |organization|
    %p
      = organization.org_no
    %p
    = organization.name
    %p
      = link_to organization.org_name organization
