%h1 Listing Shops

%h2 Org No

- @organizations.each do |organization|
	%div
		%p
			= organization.org_no
		%p
			= organization.org_name
		%p
	    - @accounts = organization.accounts
	    = link_to 'Products', organization
