%h1 Listing Shops

%table
  %tr
    %th Org No
    %th
    %th

    %tr
      - @organizations.each do |organization|
        %td= organization.org_no
        - @accounts = organization.accounts
        %td= link_to 'Products', organization
