%h3
  //Organization name(@organization.name)
  Organization
%p
  Organization: #{@organization.org_no}

= render :partial => '/accounts/account_list'

%div
  = link_to 'Edit Organization', edit_organization_path(@organization), :class=>"btn"
  = link_to 'Back', organizations_path, :class=>"btn"
