%h1 Listing accounts
%div
  - @accounts.each do |account|
    - @account = account
    - if (@account.ac_type == "in")
      = account.name
      - if (@account.ac_type == "in")
        %ul
          = link_to 'Edit', edit_account_path(account.id), :class=>"btn"
        %ul
          = link_to 'Account details', account_path( account.id), :class=>"btn"
        %ul
          = link_to "Images", account_path(account.id), :class=>"btn"
